@tailwind base;
@tailwind components;
@tailwind utilities;

.flip-card {
    perspective: 600px;
}

.flip-card .content {
    transform-style: preserve-3d;
}

.flip-card.flipped .content {
    transform: rotateY(180deg);
}

.flip-card .front, .flip-card .back {
    line-height: 150px;
    backface-visibility: hidden;
}

.flip-card .back {
    transform: rotateY(180deg);
}